* {

    padding: 0;
    box-sizing: border-box;
    background: black;

}




.page-one, .page-two, .page-three {
    display: grid;
    min-height: 100vh;
    align-content: center;
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-width: 200px;
}

h1 {
    color: white;
    font-size: 4rem;
    font-family: gotham;
}


img {
    max-width: 100%;
}


img:hover {
	filter: grayscale(100%);
}



.cards {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 20px;

}


@media only screen and (max-width: 700px) {
    .header {
        flex-direction: column;
        gap: 0.5px;
        margin-top: 3rem;

    }


    h1 {

        font-size: 2rem;

    }

    .logo {
        max-width: 25%;
    }

}