*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
  
}




.page-one, .page-two {
    display:grid;
    height: 100vh;
    align-content: center;
}




img {
    width: 100%;
}


.cards {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 20px;
    
}





















