*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
  
}




img {
    width: 100%;
}

h1 {
    color: white;
    font-family: Titillium Web;
   
    font-size: 5rem;
    letter-spacing: 4px;
    

}
.cards {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 20px;
    
}.header {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.logo {
    width: 6%;
}




@media only screen and (max-width: 700px){
    .header {
        flex-direction: column;
        margin-bottom: 2rem;
 
    }
    .logo {
     width: 20%;
 }
 
 
 h1 {
     
     font-size: 2.8rem;
     
 
 }
 
 
 }






















@media only screen and (max-width: 320px){
   .header {
       flex-direction: column;
       margin-bottom: 2rem;

   }
   .logo {
    width: 20%;
}


h1 {
    
    font-size: 2.3rem;
    

}


}